Include /etc/ssh/sshd_config.d/*.conf

Port 4433
PermitRootLogin no
MaxAuthTries 3
PubkeyAuthentication yes

AuthorizedKeysFile      .ssh/authorized_keys

PermitEmptyPasswords no

AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
TCPKeepAlive yes
ClientAliveInterval 100

Subsystem       sftp    /usr/libexec/openssh/sftp-server